// primary

$Blue: hsl(266, 100%, 61%);
$Purple: hsl(320, 99%, 60%);

$background: hsl(256, 48%, 11%);
$effect: hsl(266, 100%, 61%);

$headlines: hsl(288, 99%, 60%);
$white: hsl(0, 0%, 100%);
$span:hsl(319, 100%, 57%);
$prizeBackground:#100a1e;
$footer:hsl(254, 49%, 8%);
