// primary

$Blue: #8e38ff;
$Purple: #fe34bb;

$background: #160f2a;
$effect: hsl(266, 100%, 61%);

$headlines: #d634fe;
$white: hsl(0, 0%, 100%);
$span: #ff24ba;
$prizeBackground: #100a1e;
$footer: #0f0a1e;
// primary

$Blue: hsl(266, 100%, 61%);
$Purple: hsl(320, 99%, 60%);

$background: hsl(256, 48%, 11%);
$effect: hsl(266, 100%, 61%);

$headlines: hsl(288, 99%, 60%);
$white: hsl(0, 0%, 100%);
$span: hsl(319, 100%, 57%);
$prizeBackground: #100a1e;
$footer: hsl(254, 49%, 8%);
