$fontfamily:'Montserrat', sans-serif;
$unica: 'Unica One', cursive;
$Inter:  'Inter', sans-serif;

$font-weights: (

    "regular":400,
    "medium":500,
    "semibold":600,
    "bold":700,
);